# Byte-compiled / cache
__pycache__/
__pycache__
*.py[cod]

__pycache__/
*.pyc


# Instance folder (local SQLite DB and secrets)
instance/
instance
*.db

# Environment
.env
.venv/
env/
venv/

# IDE files
.vscode/
.idea/

# Deployment
*.log

replacements.txt/

replacements.txt